.main {
  display: flex;
}
.background {
  width: 100vw;
  height: 100vh;
  background: #fffaf3;
}

.title {
  font-weight: 700;
  font-size: 70px;
  color: #3f4042;
  margin-top: 0px;
  margin-bottom: 0px;
}

.p {
  width: 535px;
  height: 54px;
  font-family: "Avenir";
  font-weight: 400;
  color: #3f4042;
  margin-left: 200px;
  margin-top: 30px;
  font-size: 21px;
}

.buttonWhatsapp {
  font-weight: 400;
  font-size: 20px;
  background: #fffaf3;
  padding: 1px;
  border: 2px solid #c08d5d;
  margin-left: 200px;
  height: 40px;
}
.whatsapp {
  width: 20px;
  height: 24px;
  font-weight: 400;
  font-size: 20px;
  background: #c08d5d;
  padding: 6px;
  border: 2px solid #c08d5d;
  margin-left: 0px;
  margin-bottom: -13px;
}

.vector {
  width: 515px;
  height: 9px;
  margin-left: 200px;
  margin-top: 30px;
}

.yogourth {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-left: 60%;
  margin-top: -400px;
  width: 391px;
}

.containerTitle {
  display: flex;
  justify-content: first baseline;
  flex-direction: column;
  margin-top: 180px;
  margin-left: 200px;
}
