.main {
  display: flex;
  background: #fffaf3;
}
.background {
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
  width: 100vw;
  height: 100vh;
  background: #fffaf3;

}

.title {
  margin-top: 0px;
  margin-bottom: 0px;
   font-weight: 700;
  font-size: 70px;
  color: #3f4042; 
}

.description {
  margin-left: 50px;
  width: 535px;
  height: 54px;
  font-family: "Avenir";
  font-weight: 400;
  color: #3f4042;
  font-size: 18px;
}

.mainWhatsap{
  display: flex;
  flex-direction: row;
  background-color:#c08d5d; 
  margin-right: 214px;
  margin-top: 100px;
}
.buttonWhatsapp {
 
  width: 212px;
  height: 64px;
  font-weight: 400;
  font-size: 20px;
  background: #fffaf3;
  padding: 1px;
  border: 2px solid #c08d5d;
  color: #3f4042;



}


.whatsapp {
  width: 37px;
  height: 37px;
  font-weight: 400;
  font-size: 20px;
  background: #c08d5d;
  padding: 6px;
  border: 2px solid #c08d5d;
 
}

.vector {
 margin-left: 30px;
  width: 515px;
  height: 9px;
 margin-top: 15px;
}

.yogourth {
  width: 391px;
  height: 391px;
margin-right: 400px;
  margin-top: 328px;
 
}

.containerTitle {
  display: flex;
  justify-content:center;
  flex-direction: column;

}
